<header>
    <h1>{{title}}</h1>

    <a href="/">Upload</a>
    <a href="/player">Video-Player</a>
    <!-- <a href="/search">Search</a> -->
    <a href="/categories">Categories</a>

    <h3>{{description}}</h3>

</header>